<!-- Banner -->		
<section id="banner">

    <!--
        ".inner" is set up as an inline-block so it automatically expands
        in both directions to fit whatever's inside it. This means it won't
        automatically wrap lines, so be sure to use line breaks where
        appropriate (<br />).
    -->
    <div class="inner">

        <header>
            <h2>HEY, WASSUP, HELLO</h2>
        </header>
        <p>This is <strong>Jenni's Portfolio</strong>, showing
        <br />
        new styles and my quirky personality!
        <br />

    </div>

</section>